@import "tailwindcss";

/* Custom styles */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #1e3a8a; */
}

.theameGradient {
background: #4BD6F2;
background: linear-gradient(90deg, rgba(75, 214, 242, 1) 0%, rgba(49, 204, 191, 1) 35%, rgba(10, 166, 20, 1) 72%, rgba(2, 122, 28, 1) 100%) !important;
}

.theametext {
  background-color: linear-gradient(
    135deg,
    rgba(46, 162, 38, 0.931) 20%,
    rgba(245, 52, 52, 0.927) 44%,
    rgba(245, 52, 52, 0.927) 40%,
    rgba(148, 243, 255, 0.99) 86%
  ) !important;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
